body {
    margin: 0;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: rgb(77, 184, 1);
    width: 100vw;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

footer {
    display: flex;
    bottom: 0;
    position: absolute;
}

.main {
    display: flex;
    flex-direction: row;
}

nav {
    width: 15%;
    background-color: rgb(243, 241, 241);
    padding: 10px;
    height: 85vh;
}

section {
   padding: 10px;
}