* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    border: solid;
}

.content {
    display: flex;
    background-image: url(Bild/Grävmaskin.jpg);
    background-size: 1300px;
    width: 98,5vw;
    height: 110vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.grävarknapp {
    padding: 10px;
    background-color: deepskyblue;
}

.Välkomsttext {
    width: 50vw;
    text-align: center;
    background-color: aqua;
    border: solid;
}

.ett, .två, .tre {
    padding: 10px;
}

footer {
    background-color: aqua;
    width: 100%;
    padding: 20px;
    text-align: center;
    bottom: 0;
    border: solid;
    display: flex;
}

.div1 {
    width: 33%;
}

.div2 {
    width: 33%;
}

.div3 {
    width: 33%;
}