body {
    background-color: darkcyan;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    border: 2px solid;
    padding: 10px;
    width: 33%;
}

td {
    text-align: center;
    background-color: white;
}

th {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}